{% extends 'home.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block body %}

<div class='container'>
<form method='post' id='upload_form' enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_form form  %}
<input type="submit" class='btn btn-primary ' value="Submit"/>

<a href="/ads" class="btn btn-secondary">Cancel</a>
</form>
<script>

$("#upload_form").submit(function(){
  console.log('checking file size ...');
  if (window.File && window.FileReader && window.FileList && window.Blob){
    var file=$( '#id_image')[0].files[0];
    if (file && file.size > {{ form.max_upload_limit }} ) {
          alert("File " + file.name + " of type " + file.type + " must be < 5.0MB" );
      return false;
    }
  }
});
  </script>

 
</div>
{% endblock %}



