




{% extends 'home.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load humanize %} 
{% block body %}
<div class="container">
    

    <div id="overlay" class="overlay" style="text-align: center;"
       onclick="document.getElementById('overlay').style.display = 'none';" >
    <img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'ads:ad_image' ad.id %}">
    </div>
    
    <span style="float: right;">
        ({{ ad.created_at|naturaltime }})
        {% if user == ad.author %}
        <a href="{% url 'ads:ad_update' ad.id %}"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'ads:ad_delete' ad.id %}"><i class="fa fa-trash"></i></a>

        {% endif %}
    </span>
    <h1>{{ad}}</h1>
    
    <img style="float:right; max-width:30%;" src="{% url 'ads:ad_image' ad.id %}"
        onclick="document.getElementById('overlay').style.display = 'block';">
    
    <p>
{{ad.text}}

    </p>
<p>Tags: {%  for tag in ad.tags.all %} <span style='background-color: blueviolet; padding:4px; border-radius: 5px; color:whitesmoke'>{{tag}}</span> {% endfor %}</p>
    <p>
    Price: ${{ad.price}}
    </p>
    
    <br clear="all"/>
    <p>
    <form method="post" action="{% url 'ads:ad_comment' ad.id %}">
        {% csrf_token %}        
    
    <div id="div_id_comment" class="form-group"> <label for="id_comment" class="control-label ">
                    Comment
    </label> <div class="controls ">
    <input type="text" name="comment" maxlength="500" minlength="3" class="textinput textInput form-control" id="id_comment"> </div> </div>
    
    <input type="submit" value="Submit">
    <input type="submit" value="All Ads" onclick='window.location.href="{% url 'ads:ad_list' %}";return false;'>
    </form>
    </p>
    
    
    {% for comment in ad.comments.all reversed %}

    <p>
        {{comment}}  ({{ comment.created_at|naturaltime }})

        {% if user == comment.Author %} 
        <a href="{% url 'ads:delete_comment' comment.id %}"><i class="fa fa-trash"></i></a>

        {% endif %}

    </p>
    {% endfor %}
    
    
    </div>
    {% endblock %}
